*{
    margin: 0;
    padding: 0;
}

.table-container{
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-spacing: 0;
}

tbody{
	overflow-y:scroll;
	
}

.table-header{
    
}
.table-header-items{
    padding: 18px;
}

.table-body{
    text-align: center;
    max-height: 90vh;
}

.table-body-items{
    padding: 18px;
}

.icon-button{
    width: 20px;
    height: 20px;
}

.edit-button,.delete-button{
    padding: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-product-button{
  position: fixed;
  text-decoration : none;
  color: white;
  padding : 18px;
  background-color: #56DB21;
  bottom: 20px; /* Adjust the bottom gap as needed */
  right: 20px; /* Adjust the right gap as needed */
  border: 1px solid #85E95E;
  border-radius: 20px;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  text-align:center;
}